<h1>The Sarafam</h1>

<% @hunters.each do |hunter| %>
    <%=link_to hunter.name, hunter %><br><br>
<% end %>

<h2><%= link_to "Enlist In The Sarafam", new_hunter_path %></h2>
<h2><%= link_to "The Holy Arsenal", weapons_path %></h2>