<h1>The Holy Arsenal</h1>

<% @weapons.each do |weapon|%>
    <%= link_to weapon.name, weapon %><br><br>
<% end %>

<h2><%= link_to "Add A Weapon To The Armory", new_weapon_path %></h2>
<h2><%= link_to "To The Sarafam's Fortresses", hunters_path %></h2>